@import "../public/fragment/ppfragment.css";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: hsl(220 23.08% 94.9%);
  --foreground: hsl(234 16.02% 35.49%);
  --card: hsl(220 23.08% 94.9%);
  --card-foreground: hsl(234 16.02% 35.49%);
  --popover: hsl(220 23.08% 94.9%);
  --popover-foreground: hsl(234 16.02% 35.49%);
  --primary: hsl(183 73.86% 34.51%);
  --primary-foreground: hsl(220 23.08% 94.9%);
  --secondary: hsl(223 15.91% 82.75%);
  --secondary-foreground: hsl(234 16.02% 35.49%);
  --muted: hsl(223 15.91% 82.75%);
  --muted-foreground: hsl(233 12.8% 41.37%);
  --accent: hsl(223 15.91% 82.75%);
  --accent-foreground: hsl(234 16.02% 35.49%);
  --destructive: hsl(347 86.67% 44.12%);
  --destructive-foreground: hsl(347 86.67% 44.12%);
  --border: hsl(225 13.56% 76.86%);
  --input: hsl(225 13.56% 76.86%);
  --ring: hsl(234 16.02% 35.49%);
  --chart-1: hsl(345 57.65% 74.12%);
  --chart-2: hsl(185 37.25% 70.59%);
  --chart-3: hsl(219 81.96% 78.43%);
  --chart-4: hsl(35 61.18% 76.86%);
  --chart-5: hsl(113 32.94% 73.33%);
  --radius: 0.625rem;
  --sidebar: hsl(218 25.1% 93.73%);
  --sidebar-foreground: hsl(234 16.02% 35.49%);
  --sidebar-primary: hsl(183 73.86% 34.51%);
  --sidebar-primary-foreground: hsl(220 23.08% 94.9%);
  --sidebar-accent: hsl(220 23.08% 94.9%);
  --sidebar-accent-foreground: hsl(234 16.02% 35.49%);
  --sidebar-border: hsl(225 13.56% 76.86%);
  --sidebar-ring: hsl(225 13.56% 76.86%);
}

.dark {
  --background: hsl(240 21.05% 8.9%);
  --foreground: hsl(226 63.93% 88.04%);
  --card: hsl(240 21.05% 10.9%);
  --card-foreground: hsl(226 63.93% 88.04%);
  --popover: hsl(240 21.05% 10.9%);
  --popover-foreground: hsl(226 63.93% 88.04%);
  --primary: hsl(170 57.35% 73.33%);
  --primary-foreground: hsl(240 21.05% 8.9%);
  --secondary: hsl(237 16.24% 22.94%);
  --secondary-foreground: hsl(226 63.93% 88.04%);
  --muted: hsl(237 16.24% 22.94%);
  --muted-foreground: hsl(227 5.29% 70%);
  --accent: hsl(237 16.24% 22.94%);
  --accent-foreground: hsl(226 63.93% 88.04%);
  --destructive: hsl(343 81.25% 74.9%);
  --destructive-foreground: hsl(343 81.25% 74.9%);
  --border: hsl(234 13.21% 21.18%);
  --input: hsl(234 13.21% 21.18%);
  --ring: hsl(226 63.93% 88.04%);
  --chart-1: hsl(329 21.57% 37.25%);
  --chart-2: hsl(188 18.82% 37.25%);
  --chart-3: hsl(221 27.45% 39.61%);
  --chart-4: hsl(30 9.41% 42.35%);
  --chart-5: hsl(139 12.94% 38.04%);
  --sidebar: hsl(240 21.18% 14.12%);
  --sidebar-foreground: hsl(226 63.93% 88.04%);
  --sidebar-primary: hsl(170 57.35% 73.33%);
  --sidebar-primary-foreground: hsl(240 21.05% 8.9%);
  --sidebar-accent: hsl(240 21.05% 8.9%);
  --sidebar-accent-foreground: hsl(226 63.93% 88.04%);
  --sidebar-border: hsl(234 13.21% 21.18%);
  --sidebar-ring: hsl(234 13.21% 21.18%);
}

@theme inline {
  --font-sans: "PPFragment-Sans";
  --font-text: "PPFragment-Text";
  --font-serif: "PPFragment-Serif";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50 transition-colors;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply m-0 font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
